<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ex.moniquemotors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SeatView"></activity>
        <activity android:name=".History.History" />
        <activity android:name=".BookingSatus.BookingStatus" />
        <activity android:name=".Logistics.LogisticsActivity" />
        <activity android:name=".GuestMode.GuestHireABus" />
        <activity android:name=".GuestMode.GuestBookASit" />
        <activity android:name=".GuestMode.GuestDashBoard" />
        <activity android:name=".SomeOne.SomeOneActivity" />
        <activity android:name=".BusTypeActivity" />
        <activity android:name=".Bookings.Hiring.Hire" />
        <activity android:name=".RoundTripActivity" />
        <activity android:name=".Register.LoginActivity" />
        <activity android:name=".Book.BookingActivity" />
        <activity
            android:name=".Drawer.DashBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Register.SignUp" />
        <activity android:name=".Register.ReviewActivity" />
        <activity android:name=".Welcome.Intro_Slider" />
        <activity android:name=".Drawer.Profile" />
        <activity android:name=".Welcome.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>